* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background: #E5E5E5;
}

.App {
    background: #F5F5F5;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    height: 4.1rem;
    background: linear-gradient(90deg, #802222 1.18%, #d32626 100%);
    color: #FFFFFF;
    border: 1px solid #b41c1c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

header img {
    margin-left: auto;
    width: 2.5rem;
    height: 1.55rem;
}

section {
    padding: 2rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.1rem;
    margin-bottom: 2rem;
}

input {
    outline: none;
    width: 100%;
    text-indent: 5px;
    border: 1px solid #D5D4D8;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__search {
    margin-top: 1rem;
}

.btn {
    width: 100%;
    margin-top: 1rem;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(90deg, #802222 1.18%, #d32626 100%);;
}

.meme {
    position: relative;
}


.meme-image {
    width: 450px;
    height: 250px;
    border-radius: 0.8rem;
}

.meme--text{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.suggestions__btn {
    width: 100%;
    margin-top: 1rem;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(90deg, #802222 1.18%, #d32626 100%);;
}

.suggestion_header {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.suggestion__list {
    position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   place-content: center;
   text-align: center;
   cursor: default;
}

.suggestion__list > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.suggestions__image {
    width: 130px;
    height: 130px;
}

.search-memes {
    margin-top: 1rem;
}

/* ========= BREAKPOINT ========== */

@media screen and (max-width: 560px) {
    .App {
        max-width: 100%;
    }

    header h1 {
        font-size: 1.5rem;    
    }

    .form {
        grid-template-columns: 1fr;
        row-gap: 1.1rem;
    }
    
    input {
        text-indent: 3px;
        border: 1px solid #D5D4D8;
        border-radius: 0.4rem;
    }

    .meme-image {
        width: 100%;
        height: 250px;
        border-radius: 0.8rem;
    }

    .suggestion__list {
        grid-template-columns: repeat(2, 1fr);
    }

}

